{{#section "social"}}
<hr>
<section id="social">
  {{#> header-social }}
    {{> header-icon _title="PROFILES" _section="profiles" _hdricon=(lookup . '_icon') }}
  {{/header-social}}
  <table>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Network</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {{#each r.social}}
      <tr>
        <td align="center">{{#if fa-icon}}<span class="fa fa-lg fa-{{ fa-icon }}"></span>{{/if}}</td>
        <td>{{ network }}</td>
        <td><a href="{{ url }}">{{ user }}</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
{{/section}}
